</main>
<footer class="page-footer">
  <div class="footer-copyright">
    © 2019 - <?php echo date("Y");?> Copyright Vojtěch Kudláček
    <a class="grey-text text-lighten-4 right" href="LICENCE">MIT Licence</a>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.sidenav').sidenav();
  })
</script>
</body>

</html>
